.MainContentBox{
    display: flex;
    flex-direction: column;
    margin: 16px;
    /* background-color: bisque; */
    gap: 12px;
}
.TitleLine{
    display: flex;
    width: 100%;
    height: 30px;
    /* border: 1px solid; */
}
.HeaderTitleName{
    font-size: 26px;
    color: #262B2C;
    font-weight: 600;
    line-height: 21px;
}
.ContentBox{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 80vh;
    gap: 12px;
    overflow-y: auto;
}

.ContentDetail{
    display: flex;
    margin: 12px;
    flex-direction: row;
    gap: 10px;
}

.StoreContainer{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 16px;
    gap: 16px;
    background-color: #F5F8FF;
}

.StoreNameContainer{
    font-size: 20px;
    font-weight: 600;
    color: #132740;
}

.TotalStockContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.TotalItemBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 6px;
    background-color: #DCE7FC;
    border-radius: 4px;
    padding: 6px;
}

.LowOnStockBox{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 6px;
    background-color: #2ABBE7;
    border-radius: 4px;
    padding: 6px;
    color: #fff;
}

.TitleHeadline1{
    font-size: 14px;
    font-weight: 400;
}

.TitleHeadline{
    font-size: 16px;
    font-weight: 400;
}

.TitleNumber{
    font-size: 20px;
    font-weight: 600;
}

.AnalysisContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.AnalysisContainerHeader{
    font-size: 18px;
    font-weight: 600;
}

.StockAgeContainer{
    display: flex;
    flex-direction: column;
    width: 97%;
    background-color: #DCE7FC;
    padding: 6px;
    gap: 6px;
    border-radius: 4px;
}

.SubTitleContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.SubTitleItems{
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 400;
}