.MainContentBox{
     display: flex;
     flex-direction: column;
     margin: 16px;
     /* background-color: bisque; */
     gap: 12px;
}

.TitleLine{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    /* border: 1px solid; */
}

.HeaderTitleName{
    font-size: 26px;
    color: #262B2C;
    font-weight: 600;
    line-height: 21px;
}

.ContentBox{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 80vh;
    gap: 12px;   
    /* overflow-y: auto;  */
}

.DateSearchBoxHeaderLine{
     display: flex;
     margin: 12px 12px 0px 12px;
     /* border: 1px solid; */
     justify-content: space-between;
     align-items: center;
}

.TableContainer{
     display: flex;
     margin: 12px;
     /* border: 1px solid; */
     /* overflow-y: auto; */
}

.searchBarBox{
    height: 18px;
    width: 300px;
    display: flex;
    padding: 6px 0px;
    align-items: center;
    border-radius: 4px;
    border: 2px solid var(--Grey4, #DFE7F7);
    background: var(--White, #FFF);
}

.searchBarInput{
    outline: none;
    padding-left: 14px;
    width: 252px;
    color: var(--Grey2, #535F75);
    font-size: 15px;
    font-style: normal;
    line-height: 24px;
    border: none;
}

.CalenterView{
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    /* border: 1px solid var(--Oslo-Gray-300, #D1D4D6); */
    border: 2px solid var(--Grey4, #DFE7F7);
    
}
.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .DownloadSection{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .DownloadSection Img {
    cursor: pointer;
  }

  .TitleFilter{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .selectBarBox{
    height: 34px;
    width: 300px;
    display: flex;
    padding: 6px 0px;
    align-items: center;
    border-radius: 40px;
    border: 2px solid var(--Grey4, #DFE7F7);
    background: var(--White, #FFF);
    outline: none;
}