.DashboardMainViewPage{
    background-color:#EFFAFC;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.DashboardPageContainer{
     display: flex;
     flex-direction: row;
}

.SidebarContainer{
     width: 16%;
     height: 87.5vh;
     background-color: #fff;
     padding: 12px 0px 12px 24px;
     display: flex;
     flex-direction: column;
     gap: 2px;
     box-shadow: #1E749C29;
}

.ContentContainer{
     width: 84%;
}

/* .Menuheader{
    color: #1F5E7F;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    height: 30px;
    border-bottom: 1px solid;
} */

.Menuheader {
    color: #1F5E7F;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    /* height: 30px; */
    padding-bottom: 10px;
}

.Menuheader span {
    border-bottom: 2px solid;
    padding-bottom: 5px;
    border-color: #D0D6D7;
}

.MenuItems{
    /* background: antiquewhite; */
    height: 24px;
    padding: 6px;
     
}

.MenuItems span {
    font-size: 17px;
    color:#768083;
    line-height: 20px;
    font-weight: 500;
}

.MenuItems.active {
    background: linear-gradient(to right, #D5F1F8, #F0F9FC) padding-box,
                linear-gradient(to right, #3CADD4, #D5F1F8) border-box;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-right: none;
    transition: background-color 0.5s ease;
    border-radius: 4px 0px 0px 4px;
    position: relative; /* Position relative for containing pseudo-element */
}

.MenuItems.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0; /* Adjust as needed */
    transform: translateX(-50%); 
    top: 50%;  
    transform: translateY(-50%); 
    width: 4px;
    height: 23px;
    border-radius: 0px 4px 4px 0px;
    background-color: #2190B9; /* Color of the small box */
    
}

.MenuItems.active span {
    color: #2190B9;
    font-weight: 600;
    margin-left: 10px;
    transition: margin-left 0.5s ease;
}

.MenuItems:hover span {
    color: #2190B9;
    font-weight: 600;
    margin-left: 10px;
    transition: margin-left 0.5s ease;
}
