.MainContentBox{
    display: flex;
    flex-direction: column;
    margin: 16px;
    /* background-color: bisque; */
    gap: 12px;
}

.TitleLine{
   display: flex;
   width: 100%;
   height: 30px;
   /* border: 1px solid; */
}

.HeaderTitleName{
   font-size: 26px;
   color: #262B2C;
   font-weight: 600;
   line-height: 21px;
}
.ContentBox{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 80vh;
    gap: 12px;   
    /* overflow-y: auto;  */
}

.patientname{
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    color: #2190B9;
}

.patientgender{
    width: 32px;
    height: 15px;
    padding: 2px 4px 2px 4px;
    border-radius: 5px;
    background-color: #D0D6D7;
}
.patientstatus{
    width: 63px;
    height: 15px;
    padding: 1px;
    border-radius: 5px;
    background-color: #5ED3A2;
}
.ot-seach{
    display: flex;
    align-items: center;
}
.ot-inputfield{
    padding: 12px 0px 0px 12px;
}
.calender-conatiner{
    padding-left: 0px;
    padding: 12px 12px 0px 0px;
}
.department-select{
    width: 220px;
    height: 39px;
    padding: 4px 10px 4px 10px;
    border: 2px solid var(--Grey4, #DFE7F7);
    border-radius: 5px;
}
.CalenterView{
    width: 120px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    /* border: 1px solid var(--Oslo-Gray-300, #D1D4D6); */
    border: 2px solid var(--Grey4, #DFE7F7);
    
}
.table-data{
    font-size: 12px;
}
.robot{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
/* .robot-text{
    margin: -45px 0 0 0;
} */